/**
  |============================
  | Variables
  |============================
*/
:root {
  /* Fonts */
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /* Text colors */
  --main-txt-cl: #757575;
  --main-title-cl: #212121;
  --light-txt-cl: #ffffff99;
  --accent-txt-cl: #2196f3;
  --hero-txt-cl: #ffffff;
  /* Background colors */
  --accent-bg-cl: #2094f3;
  --main-bg-cl: #2f303a;
  --light-bg-cl: #f5f4fa;
  --card-bg-cl: #ffffff;
  /* Other */
}

/**
  |============================
  | Hidden elements
  |============================
*/
.hidden-elements {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/**
  |============================
  | Reset
  |============================
*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
  |============================
  | Base styles
  |============================
*/
.page {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

/**
  |============================
  | Container styles
  |============================
*/
.container {
  max-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

/**
  |============================
  | Header
  |============================
*/
.header {
  border-bottom: 1px solid #ececec;
}
@media screen and (max-width: 767px) {
  .header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.header-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-container {
    height: 80px;
  }
}

.nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--main-title-cl);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
}
@media screen and (mid-width: 768px) {
  .nav {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .header__link {
    margin-right: 0;
  }
}

.nav__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 88px;
    gap: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 50px;
  }
}

.header-nav-link,
.header-contact-link {
  display: block;
}
@media screen and (max-width: 767px) {
  .header-nav-link,
.header-contact-link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .header-nav-link,
.header-contact-link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.header-contact-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__group {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__group {
    display: unset;
    margin-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .header__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__group-link:not(:last-child) {
    margin-top: 10px;
    height: 10px;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__group-link:not(:last-child) {
    margin-right: 50px;
    margin-top: 0;
  }
}

.nav__link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-txt-cl);
}

.current {
  color: var(--accent-txt-cl);
  position: relative;
}
.current::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  margin-top: 29px;
  border-radius: 4px;
  background: var(--accent-txt-cl);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .current::after {
    margin-top: 30px;
  }
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  color: var(--main-title-cl);
}

.logo__accent {
  color: var(--accent-txt-cl);
}

.header_group-icon {
  fill: currentColor;
  margin-right: 10px;
}

.mobile-menu {
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--card-bg-cl);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu__container {
  position: relative;
  padding: 48px 25px;
  max-width: 480px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mobile-menu__button-open {
  position: absolute;
  right: 15px;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .mobile-menu__button-open {
    display: none;
  }
}
.mobile-menu__button-open:hover, .mobile-menu__button-open:focus {
  color: var(--accent-txt-cl);
}
.mobile-menu__button-close {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  line-height: 0;
  -webkit-transform: color 250ms;
          transform: color 250ms;
}
.mobile-menu__button-close:hover, .mobile-menu__button-close:focus {
  color: var(--accent-txt-cl);
}
.mobile-menu__icon {
  fill: currentColor;
}
.mobile-menu__navigation-item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-menu__navigation-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  color: #212121;
  letter-spacing: 0.02em;
}
.mobile-menu__navigation-link:hover, .mobile-menu__navigation-link:focus {
  color: var(--accent-txt-cl);
}
.mobile-menu__navigation-link-current {
  color: var(--accent-txt-cl);
}
.mobile-menu__contacts-list {
  margin-bottom: 64px;
}
.mobile-menu__contacts-item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-menu__contacts-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
}
.mobile-menu__contacts-link:hover, .mobile-menu__contacts-link:focus {
  font-size: 34px;
  line-height: 1.18;
  color: var(--accent-txt-cl);
}
.mobile-menu__mobile-contact {
  font-size: 34px;
  line-height: 1.18;
  color: var(--accent-txt-cl);
}
.mobile-menu__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.mobile-menu__social-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mobile-menu__social-item:not(:last-child) {
  margin-right: 10px;
}
.mobile-menu__social-item:not(:last-child)::after {
  content: "";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 1px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
  margin-left: 10px;
}
.mobile-menu__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.mobile-menu__social-link:focus, .mobile-menu__social-link:hover {
  color: var(--accent-txt-cl);
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/**
  |============================
  | Hero 
  |============================
*/
.hero {
  background-color: var(--main-bg-cl);
  color: var(--hero-txt-cl);
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background-images/main-bg.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-images/main-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px), (min-resolution: 192dpi) and (max-width: 767px), (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background-images/bg/bg-tel@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-images/bg/bg-tel@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background-images/bg/bg-tablet.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-images/bg/bg-tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background-images/bg/bg-tablet@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-images/bg/bg-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    min-height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background-images/bg/bg-desktop.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-images/bg/bg-desktop.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background-images/bg/bg-desktop@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-images/bg/bg-desktop@2x.jpg);
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.3636363636;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
  }
}

.hero__btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: var(--accent-txt-cl);
  color: currentColor;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: #188ce8;
}

/**
  |============================
  | Modal window
  |============================
*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(2.5px) grayscale(0.5);
          backdrop-filter: blur(2.5px) grayscale(0.5);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: opacity 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946), visibility 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946), -webkit-transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
  transition: opacity 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946), visibility 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946), -webkit-transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
  transition: transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946), opacity 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946), visibility 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
  transition: transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946), opacity 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946), visibility 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946), -webkit-transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: opacity 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946), visibility 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946), -webkit-transform 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946);
  transition: opacity 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946), visibility 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946), -webkit-transform 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946);
  transition: transform 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946), opacity 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946), visibility 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946);
  transition: transform 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946), opacity 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946), visibility 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946), -webkit-transform 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 450px;
  max-width: 100%;
  padding: 40px;
  background-color: var(--card-bg-cl);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 580px;
  }
  .modal:focus-within {
    -webkit-box-shadow: -50px 0 200px -50px #504bff, 50px 0 200px -50px #1504fa;
            box-shadow: -50px 0 200px -50px #504bff, 50px 0 200px -50px #1504fa;
  }
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  background-color: var(--card-bg-cl);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover, .modal-btn:focus {
  fill: var(--accent-txt-cl);
}

/**
  |============================
  | Benefits
  |============================
*/
@media screen and (min-width: 768px) {
  .benefits__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (max-width: 767px) {
  .benefits__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .benefits__item {
    max-width: 354px;
  }
}

.benefits__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-title-cl);
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .benefits__title {
    text-align: left;
  }
}

.benefits__icon-container {
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/**
  |============================
  | Work
  |============================
*/
.work {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-cl);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1666666667;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-title-cl);
    margin-bottom: 50px;
  }
}

.work__list-item {
  position: relative;
}

.work__list-item-wrapper {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-txt-cl);
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: 100%;
}

/**
  |============================
  | Team
  |============================
*/
.txt-card-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.team {
  background-color: var(--light-bg-cl);
}

.team-image {
  max-width: 100%;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-cl);
  margin-bottom: 10px;
}

.team-text {
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
  margin-bottom: 16px;
}

.team-card {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--card-bg-cl);
}
@media screen and (min-width: 768px) {
  .team-card {
    background-color: var(--card-bg-cl);
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}
@media screen and (max-width: 767px) {
  .team-card:not(:last-child) {
    margin-bottom: 30px;
  }
}

.social-links-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: transparent;
  border-radius: 50%;
  fill: #afb1b8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover, .social-link:focus {
  background-color: var(--accent-txt-cl);
  fill: var(--hero-txt-cl);
}

.social-link-icon {
  width: 20px;
  height: 20px;
}
.social-link-icon:hover, .social-link-icon:focus {
  fill: var(--hero-txt-cl);
}

/**
  |============================
  | Clients
  |============================
*/
.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 210px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
}
@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}

.clients__icon {
  width: 106px;
  height: 60px;
}

.clients__list-item {
  -ms-flex-preferred-size: calc(50% - 30px);
      flex-basis: calc(50% - 30px);
}
@media screen and (min-width: 768px) {
  .clients__list-item {
    -ms-flex-preferred-size: calc(33.3333333333% - 30px);
        flex-basis: calc(33.3333333333% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .clients__list-item {
    -ms-flex-preferred-size: calc(16.6666666667% - 30px);
        flex-basis: calc(16.6666666667% - 30px);
  }
}

.footer {
  background-color: var(--main-bg-cl);
  padding-top: 60px;
  padding-bottom: 60px;
}

.general-footer-container {
  margin-bottom: 0;
  text-align: center;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .general-footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .general-footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    text-align: left;
  }
}

.footer-container {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-container {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    margin-right: 70px;
    margin-bottom: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-bottom: 0;
    margin-right: 93px;
  }
}

@media screen and (max-width: 767px) {
  .social-footer {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .social-footer {
    margin: 0;
  }
}

.social-footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-footer__link:hover, .social-footer__link:focus {
  background-color: #2196f3;
  border-radius: 50%;
}

.social-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.social-footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-txt-cl);
  margin-bottom: 20px;
}

.social-footer__icon {
  display: block;
  fill: var(--hero-txt-cl);
}

.footer__logo {
  color: var(--hero-txt-cl);
}

.address {
  font-style: normal;
  margin-top: 20px;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address-map {
  color: var(--hero-txt-cl);
}

/**
  |============================
  | Newsletter in footer
  |============================
*/
.newsletter {
  display: block;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .newsletter {
    width: 450px;
    height: 156px;
  }
}

.newsletter__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-txt-cl);
  margin-bottom: 20px;
}

.newsletter__label {
  display: block;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .newsletter__label {
    display: inline-block;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.newsletter__input {
  width: 100%;
  height: 50px;
  padding: 15px;
  background-color: var(--main-bg-cl);
  color: var(--hero-txt-cl);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (min-width: 1200px) {
  .newsletter__input {
    width: 358px;
  }
}

.newsletter__btn {
  min-width: 200px;
  height: 50px;
  padding: 10px 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--hero-txt-cl);
  border: none;
  cursor: pointer;
  background-color: var(--accent-txt-cl);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.newsletter__btn:hover, .newsletter__btn:focus {
  background-color: #188ce8;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .newsletter__btn {
    display: block;
    margin: 0 auto;
  }
}

.newsletter__icon {
  margin-left: 10px;
}

/**
  |============================
  | Register form
  |============================
*/
.register-form-txt {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--main-title-cl);
  margin-bottom: 12px;
}

.register-form-group {
  margin-bottom: 20px;
}

.register-form-field {
  position: relative;
  display: block;
}
.register-form-field:not(:last-child) {
  margin-bottom: 10px;
}

.register-form-icon {
  position: absolute;
  bottom: 0;
  left: 15px;
  -webkit-transform: translateY(-11px);
          transform: translateY(-11px);
}

.register-form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--main-txt-cl);
}

.register-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.register-form-input:not(:-moz-placeholder-shown) {
  border-color: var(--accent-txt-cl);
}
.register-form-input:not(:-ms-input-placeholder) {
  border-color: var(--accent-txt-cl);
}
.register-form-input:focus, .register-form-input:not(:placeholder-shown) {
  border-color: var(--accent-txt-cl);
}

.register-form-input::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.register-form-input::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.register-form-input:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.register-form-input::-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.register-form-input::placeholder {
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.register-form-input:focus::-webkit-input-placeholder {
  opacity: 1;
}

.register-form-input:focus::-moz-placeholder {
  opacity: 1;
}

.register-form-input:focus:-ms-input-placeholder {
  opacity: 1;
}

.register-form-input:focus::-ms-input-placeholder {
  opacity: 1;
}

.register-form-input:focus::placeholder {
  opacity: 1;
}

.register-form-input:not(:-moz-placeholder-shown) ~ .register-form-icon {
  fill: var(--accent-txt-cl);
}

.register-form-input:not(:-ms-input-placeholder) ~ .register-form-icon {
  fill: var(--accent-txt-cl);
}

.register-form-input:focus ~ .register-form-icon,
.register-form-input:not(:placeholder-shown) ~ .register-form-icon {
  fill: var(--accent-txt-cl);
}

.register-form-message {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  font-size: 12px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
}
.register-form-message:not(:-moz-placeholder-shown) {
  border-color: var(--accent-txt-cl);
}
.register-form-message:not(:-ms-input-placeholder) {
  border-color: var(--accent-txt-cl);
}
.register-form-message:focus, .register-form-message:not(:placeholder-shown) {
  border-color: var(--accent-txt-cl);
}

.register-form-agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 7px;
  margin-bottom: 30px;
}

.icon-checked {
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.register-form-checkbox:checked + .register-form-icons .icon-checked {
  opacity: 1;
}

.icon-unchecked {
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.register-form-checkbox:checked + .register-form-icons .icon-unchecked {
  opacity: 0;
}

.register-form-desc {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.register-form-link {
  color: #2196f3;
}

.register-form-btn {
  display: block;
  margin: 0 auto;
  color: var(--hero-txt-cl);
}

/**
  |============================
  | Portfolio page
  |============================
*/
.btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px 8px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .btn-list {
    margin-bottom: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .btn-list {
    margin-bottom: 50px;
  }
}

.cards-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.card-thumb {
  position: relative;
  overflow: hidden;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(33, 150, 243, 0.9);
}
.portfolio-link:hover .card-overlay, .portfolio-link:focus .card-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.overlay-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: var(--hero-txt-cl);
}

.portfolio-card-container {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
@media screen and (min-width: 768px) {
  .portfolio-card-container {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-card {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}

.portfolio-link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover, .portfolio-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-cl);
  margin-bottom: 4px;
}

.portfolio-card-txt {
  font-size: 16px;
}

.portolio-nav-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  padding: 6px 25px;
  border-radius: 4px;
  background-color: var(--light-bg-cl);
  color: var(--main-title-cl);
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portolio-nav-btn:hover, .portolio-nav-btn:focus {
  color: var(--hero-txt-cl);
  background-color: var(--accent-bg-cl);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}/*# sourceMappingURL=main.css.map */