/**
  |============================
  | Container styles
  |============================
*/

.container {
	max-width: 480px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;

	//Tablet styles
	@media screen and (min-width: 768px) {
		max-width: 768px;
	}

	//Desktop styles
	@media screen and (min-width: 1200px) {
		max-width: 1200px;
	}
}
