/**
  |============================
  | Variables
  |============================
*/
:root {
  /* Fonts */
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  /* Text colors */
  --main-txt-cl: #757575;
  --main-title-cl: #212121;
  --light-txt-cl: #ffffff99;
  --accent-txt-cl: #2196f3;
  --hero-txt-cl: #ffffff;

  /* Background colors */
  --accent-bg-cl: #2094f3;
  --main-bg-cl: #2f303a;
  --light-bg-cl: #f5f4fa;
  --card-bg-cl: #ffffff;

  /* Other */
}
